<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkstudio.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.linkstudio.entity.Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="stu_id" jdbcType="VARCHAR" property="stuId" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="branch" jdbcType="VARCHAR" property="branch" />
    <result column="identity" jdbcType="SMALLINT" property="identity" />
    <result column="duty" jdbcType="VARCHAR" property="duty" />
    <result column="state" jdbcType="SMALLINT" property="state" />
    <result column="complete_time" jdbcType="TIMESTAMP" property="completeTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, stu_id, school, branch, identity, duty, state, complete_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectbyschoolall"  resultType="HashMap">
    select school,
    sum(CASE WHEN identity = 1 THEN 1 ELSE 0 END) as dangyuan,
    sum(CASE WHEN identity = 1 AND state = 1 THEN 1 ELSE 0 END) as dangyuandone,
    sum(CASE WHEN  state = 1 THEN 1 ELSE 0 END) as alldone,
    count(*) as zong
    FROM student
    GROUP  BY  school
  </select>
  <select id="countqunzhongbyschoolall"  resultType="HashMap">
    select school,

    sum(CASE WHEN  identity = 2 and state = 1 THEN 1 ELSE 0 END) as qunzhong

    FROM student
    GROUP  BY  school
  </select>
  <select id="countqunzhongbyall"  resultType="HashMap">
    select
    sum(CASE WHEN  identity = 2 and state = 1 THEN 1 ELSE 0 END) as qunzhong



    FROM student

  </select>

  <select id="countbybranchall" parameterType="java.lang.String" resultType="HashMap">
    select branch,
    sum(CASE WHEN  identity = 2 and state = 1 THEN 1 ELSE 0 END) as qunzhong

    FROM student
    where school = #{school,jdbcType=VARCHAR}
    GROUP BY branch

  </select>
  <select id="selectbyall"  resultType="HashMap">
    select
    sum(CASE WHEN identity = 1 THEN 1 ELSE 0 END) as dangyuan,
    sum(CASE WHEN identity = 1 AND state = 1 THEN 1 ELSE 0 END) as dangyuandone,
    sum(CASE WHEN  state = 1 THEN 1 ELSE 0 END) as alldone,

    count(*) as zong



    FROM student

  </select>
  <select id="selectbybranchall" parameterType="java.lang.String" resultType="HashMap">
select branch,
    sum(CASE WHEN identity = 1 THEN 1 ELSE 0 END) as dangyuan,
    sum(CASE WHEN identity = 1 AND state = 1 THEN 1 ELSE 0 END) as dangyuandone,
    sum(CASE WHEN  state = 1 THEN 1 ELSE 0 END) as alldone,
    count(*) as zong
    FROM student
    where school = #{school,jdbcType=VARCHAR}
    GROUP BY branch

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.linkstudio.entity.Student">
    insert into student (id, name, stu_id,
      school, branch, identity,
      duty, state, complete_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{stuId,jdbcType=VARCHAR}, 
      #{school,jdbcType=VARCHAR}, #{branch,jdbcType=VARCHAR}, #{identity,jdbcType=SMALLINT}, 
      #{duty,jdbcType=VARCHAR}, #{state,jdbcType=SMALLINT}, #{completeTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.linkstudio.entity.Student">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="stuId != null">
        stu_id,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="branch != null">
        branch,
      </if>
      <if test="identity != null">
        identity,
      </if>
      <if test="duty != null">
        duty,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="completeTime != null">
        complete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="stuId != null">
        #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="branch != null">
        #{branch,jdbcType=VARCHAR},
      </if>
      <if test="identity != null">
        #{identity,jdbcType=SMALLINT},
      </if>
      <if test="duty != null">
        #{duty,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=SMALLINT},
      </if>
      <if test="completeTime != null">
        #{completeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.linkstudio.entity.Student">
    update student
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="stuId != null">
        stu_id = #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="branch != null">
        branch = #{branch,jdbcType=VARCHAR},
      </if>
      <if test="identity != null">
        identity = #{identity,jdbcType=SMALLINT},
      </if>
      <if test="duty != null">
        duty = #{duty,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="completeTime != null">
        complete_time = #{completeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linkstudio.entity.Student">
    update student
    set name = #{name,jdbcType=VARCHAR},
      stu_id = #{stuId,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      branch = #{branch,jdbcType=VARCHAR},
      identity = #{identity,jdbcType=SMALLINT},
      duty = #{duty,jdbcType=VARCHAR},
      state = #{state,jdbcType=SMALLINT},
      complete_time = #{completeTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from student
    where 1
  </select>
  <select id="selectByBranch" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from student
    where branch = #{branch,jdbcType=VARCHAR}
  </select>
  <select id="selectDangyuanByBranch" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from student
    where branch = #{branch,jdbcType=VARCHAR} and student.identity = 1
  </select>
  <select id="selectByStuId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from student
    where stu_id = #{stuid,jdbcType=VARCHAR}
  </select>
</mapper>