/*
 * Base structure
 */
body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
	font-family: Microsoft YaHei, 'ו', Tahoma, Helvetica, Arial,
		"\5b8b\4f53", sans-serif;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
}

@media ( min-width : 1050px) {
	.container {
		max-width: 1200px;
	}
}

.container-narrow>hr {
	margin: 30px 0;
}
/*
 * Global add-ons
 */
.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
	border: 0;
}

.navbar-inverse {
	background-color: #a3151d;
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus
	{
	font-weight: bold;
	background-color: transparent;
}

.navbar-inverse .navbar-text {
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus
	{
	font-weight: bold;
	background-color: transparent;
}

/* costumer header setting */
.header_pic {
	width: auto;
	height: 35px;
}

.header_logo {
	float: left;
	display: inline;
	margin-top: 5px;
	margin-right: 5px;
}

.header_txt {
	float: left;
	display: inline;
	margin-top: 16px;
	margin-left: 3px;
	color: darkgray;
}

#global-message {
	color: #FFFFFF;
	background-color: darkgrey;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	line-height: 28px;
}

/* Main content
 */
.main {
	padding: 20px;
}

@media ( min-width : 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}

.main .page-header {
	margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
	margin-bottom: 30px;
	text-align: center;
}

.placeholders h4 {
	margin-bottom: 0;
}

.placeholder {
	margin-bottom: 20px;
}

.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

.table-noborder>thead>tr>th, .table-noborder>tbody>tr>th,
	.table-noborder>tfoot>tr>th, .table-noborder>thead>tr>td,
	.table-noborder>tbody>tr>td, .table-noborder>tfoot>tr>td {
	padding: 0;
	border: 0;
}

hr {
	background-color: #f5c4c7;
	color: #f5c4c7;
	height: 1px;
	border: 0px;
	clear: both;
}

.footer {
	padding-top: 19px;
	color: #777;
}

.canvas-holder {
	width: 180px;
	margin-top: 5px;
	margin-right: 30px;
	text-align: center;
}

.panel-illu {
	margin-left: 15px;
}

.panel-txt {
	float: left;
	margin-top: 5px;
	line-height: 130%;
	font-size: large;
}

.canvas-illu {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 15px;
	float: left;
	width: 80px;
}

.color-block {
	float: left;
	clear: left;
	margin-top: 3px;
	width: 15px;
	height: 15px;
}

.color-block.txt {
	clear: none;
	margin-top: 1px;
	margin-left: 5px;
	width: 45px;
	height: auto;
}

.color-block.a {
	background-color: #F7464A;
}

.color-block.a:hover {
	background-color: #FF5A5E;
}

.color-block.b {
	background-color: #46BFBD;
}

.color-block.b:hover {
	background-color: #5AD3D1;
}

.color-block.c {
	background-color: #FDB45C;
}

.color-block.c:hover {
	background-color: #FFC870;
}

.color-block.d {
	background-color: #949FB1;
}

.color-block.d:hover {
	background-color: #A8B3C5;
}

.color-block.e {
	background-color: #4D5360;
}

.color-block.e:hover {
	background-color: #616774;
}

.color-block.f {
	background-color: #4f82bd;
}

.color-block.f:hover {
	background-color: #699bd1;
}